.none {
	display: none !important;
}

.block {
	display: flex;
}

.profile {
	border: solid black;
	background-color: gray;
	border-radius: 16px;
	max-width: 1024px;
	margin: 0 auto;
}

.profile * {
	text-decoration: none;
	list-style-type: none;
}

.profile-header {
	border-bottom: solid black;
	min-height: 150px;
}

.profile-body {
	display: flex;
	flex-direction: column;
	text-align: start;
	padding: 1rem;
	background-color: lightgrey;
}

.profile-body > * {
	margin: 0.5rem;
	width: fit-content;
}

#profile-location-edit {
	display: flex;
	width: auto;
	justify-content: space-between;
	align-items: center;
}

#profile-location-edit > * {
	height: fit-content;
	margin: 0;
}

.profile-body hr {
	width: auto;
}

.profile-skills {
	display: flex;
	padding: 0;
}

.profile-skills > * {
	margin: 0 0.5rem;
	padding: 0.25rem;
	border: solid darkslategray 1px;
	border-radius: 8px;
	background-color: slategrey;
	color: whitesmoke;
}

#profile-links {
	border-top: solid black;
}

#profile-links img {
	height: 3rem;
	width: 3rem;
	transition: 0.3s ease-in-out;
}

.profile-link {
	display: flex;
	align-items: center;
	margin: 1rem;
	padding: 0.5rem;
	border: solid black 1px;
	border-radius: 6px;
	background-color: lightgrey;
}

.profile-link p {
	margin: 1rem;
}

.profile-link:hover img {
	transform: scale(1.1);
}

.link-input {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	gap: 0.25rem;
}

.link-input img {
	height: 1.5rem !important;
	width: 1.5rem !important;
}

#add-link {
	margin: 1rem;
	transition: 0.3s ease-in-out;
}

#add-link:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#new-link-form {
}
