.none {
	display: none !important;
}

.block {
	display: flex;
}

.profile {
	max-width: 500px;
	margin: 0 auto;
	padding: 3rem;
}

.profile button {
	margin: 0 0.25rem;
	padding: 0.25rem 0.75rem;
	border: solid 1px #455a64;
	border-radius: 8px;
	background-color: rgb(228, 228, 228);
	color: #455a64;
	transition: 0.2s ease;
}

.profile button:hover {
	background-color: #9fafb6;
}

.cancel-button:hover {
	background-color: #ff8a80 !important;
	color: #b84b42 !important;
	border: solid 1px #b84b42;
}

.submit-button:hover {
	background-color: #1ad2a4 !important;
	color: #007b5d !important;
	border: solid 1px #007b5d;
}

.profile * {
	text-decoration: none;
	list-style-type: none;
}

.profile-header {
	position: relative;
	border: solid 1px rgb(205, 205, 205);
	background-color: whitesmoke;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	min-height: 150px;
}

#question-help {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	height: 1.5rem;
	width: 1.5rem;
	filter: grayscale(1);
	transition: 0.2s ease;
}

#question-help:hover {
	cursor: pointer;
	filter: none;
}

#profile-picture {
	position: absolute;
	bottom: -2.5rem;
	left: 1rem;
	height: 8rem;
	width: 8rem;
	border: solid 2px rgb(205, 205, 205);
	border-radius: 50%;
}

#profile-picture-select {
	position: absolute;
	bottom: 0.25rem;
	left: 10rem;
}

.profile-body {
	border: solid 1px rgb(205, 205, 205);
	border-top: none;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	text-align: start;
	padding: 1rem;
	padding-top: 3.5rem;
	/* overflow-x: scroll; */
}

.profile-body > * {
	margin: 0.2rem 0.5rem;
	width: fit-content;
}

#profile-location-edit {
	display: flex;
	width: auto;
	justify-content: space-between;
	align-items: center;
}

#profile-location-edit > * {
	height: fit-content;
	margin: 0;
}

.profile-body hr {
	width: auto;
}

.profile-skills {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.profile-skills > * {
	margin: 0 0.5rem;
	margin-top: 0.8rem;
	padding: 0.25rem 0.75rem;
	border-radius: 16px;
	background-color: rgb(228, 228, 228);
}

#skills-edit {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#skills-edit > * {
	height: fit-content;
}

#skills-edit p {
	font-size: 12px;
}

#copy-msg {
	font-size: 12px;
	position: absolute;
	right: 1rem;
	top: -3rem;
}

#profile-links {
	position: relative;
}

#profile-links a {
	position: relative;
}

.profile-links-preview-img {
	position: absolute;
	left: -2rem;
	top: 50%;
	transform: translateY(-50%);
	height: 3rem;
	width: 3rem;
	transition: 0.3s ease-in-out;
	background-color: whitesmoke;
	border: solid rgb(205, 205, 205) 1px;
	padding: 0.5rem;
	border-radius: 8px;
}

.profile-link {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	margin-left: 2rem;
	padding: 1rem;
	border: solid rgb(205, 205, 205) 1px;
	border-radius: 6px;
	background-color: whitesmoke;
}

.profile-link p {
	margin: 1rem 2rem;
	color: #455a64;
}

.link-clipboard-copy {
	position: absolute;
	height: 1.5rem;
	width: 1.5rem;
	right: 1rem;
}

.link-input {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	gap: 0.25rem;
}

.link-input img {
	height: 1.5rem !important;
	width: 1.5rem !important;
	filter: brightness(0) invert(0);
	transition: 0.2s ease;
}

.link-input img:hover {
	filter: none;
	cursor: pointer;
}

#add-link {
	height: 1.5rem;
	width: 1.5rem;
	margin: 0.5rem;
	transition: 0.2s ease;
	filter: brightness(0) invert(0);
}

#add-link:hover {
	cursor: pointer;
	filter: none;
}
